* {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #777;
  line-height: 1.88;
}

strong {
  font-weight: 700;
  color: #52bedc;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background: url("../img/header-banners/1920/hero-banner1.jpg") 100% 100% no-repeat;
  background-size: cover;
  background-position: center center;
  height: 106vh;
  animation: bcg_change 20s infinite;
}
@media screen and (max-width: 800px) {
  .header {
    height: 88.7vh;
  }
}

.header__inner {
  height: 106vh;
  position: relative;
  padding: 0 36px;
}
@media screen and (max-width: 800px) {
  .header__inner {
    height: 88.7vh;
  }
}

.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media screen and (max-width: 800px) {
  .header__bar {
    flex-direction: column;
  }
}

.header__logo {
  transition: all 0.3s;
}
.header__logo:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 800px) {
  .header__logo img {
    max-width: 200px;
  }
}
@media screen and (max-width: 800px) {
  .header__logo {
    margin-bottom: 10px;
  }
}

.header__socials-list {
  display: flex;
}

.header__socials-item {
  margin-right: 40px;
  transition: all 0.3s;
}
@media screen and (max-width: 800px) {
  .header__socials-item {
    margin-right: 27px;
  }
}
.header__socials-item:last-child {
  margin: 0;
}
.header__socials-item:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 800px) {
  .header__socials-item a img {
    width: 27px;
  }
}

.header__access {
  background: #F8F200;
  max-width: 624px;
  padding: 70px;
  -webkit-clip-path: polygon(8% 0, 100% 0, 100% 86%, 91% 100%, 0 100%, 0% 60%, 0 13%);
          clip-path: polygon(8% 0, 100% 0, 100% 86%, 91% 100%, 0 100%, 0% 60%, 0 13%);
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 1280px) {
  .header__access {
    right: 36px;
  }
}
@media screen and (max-width: 800px) {
  .header__access {
    max-width: 320px;
    right: 0;
    padding: 30px 13px;
  }
}

.header__access-title {
  font-family: Archangelsk;
  font-weight: 400;
  font-size: 62px;
  color: #000;
  line-height: 1.01;
}
@media screen and (max-width: 800px) {
  .header__access-title {
    font-size: 30px;
    text-align: center;
  }
}

.header__access-button {
  margin-top: 25px;
  display: block;
  color: #F8F200;
  font-weight: 700;
  font-size: 24px;
  background: #000;
  padding: 19px 50px;
  width: 272px;
  transition: all 0.2s;
  text-align: center;
}
.header__access-button:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 800px) {
  .header__access-button {
    width: 244px;
    font-size: 20px;
    padding: 10px 50px;
    margin: 25px auto 0;
  }
}

@keyframes bcg_change {
  0% {
    background: url("../img/header-banners/1920/hero-banner1.jpg") 100% 100% no-repeat;
    background-size: cover;
    background-position: center center;
  }
  35% {
    background: url("../img/header-banners/1920/hero-banner2.jpg") 100% 100% no-repeat;
    background-size: cover;
    background-position: center center;
  }
  68% {
    background: url("../img/header-banners/1920/hero-banner3.jpg") 100% 100% no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.info {
  padding: 70px 36px;
}
@media screen and (max-width: 1300px) {
  .info {
    padding-bottom: 341px;
  }
}
@media screen and (max-width: 800px) {
  .info {
    padding: 70px 0 440px;
  }
}

@media screen and (max-width: 800px) {
  .info__head {
    padding: 0 12px;
  }
}

.info__title {
  font-family: Archangelsk;
  font-weight: 400;
  font-size: 62px;
  line-height: 1.01;
  color: #000;
}
@media screen and (max-width: 1070px) {
  .info__title {
    max-width: 620px;
  }
}
@media screen and (max-width: 800px) {
  .info__title {
    font-size: 30px;
  }
}

.info__text {
  margin-top: 18px;
  margin-bottom: 70px;
  max-width: 952px;
}
@media screen and (max-width: 1070px) {
  .info__text {
    max-width: 788px;
  }
}
@media screen and (max-width: 800px) {
  .info__text {
    font-size: 16px;
    line-height: 2;
  }
}

.info__img-box {
  display: grid;
  grid-template-rows: repeat(1, 229px);
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (max-width: 1300px) {
  .info__img-box {
    grid-template-rows: repeat(2, 229px);
    grid-template-columns: repeat(1, 492px);
  }
}
@media screen and (max-width: 1000px) {
  .info__img-box {
    grid-template-rows: repeat(3, 1fr);
  }
}

.info__image {
  -webkit-clip-path: polygon(6% 0, 100% 0, 100% 88%, 94% 100%, 0 100%, 0% 60%, 0 12%);
          clip-path: polygon(6% 0, 100% 0, 100% 88%, 94% 100%, 0 100%, 0% 60%, 0 12%);
}
@media screen and (max-width: 1000px) {
  .info__image:nth-child(1) {
    grid-row-start: 1;
  }
}
.info__image:nth-child(2) {
  grid-row-start: 2;
}
@media screen and (max-width: 1300px) {
  .info__image:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 2;
  }
}
@media screen and (max-width: 1000px) {
  .info__image:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
.info__image:last-child {
  grid-column-start: 2;
  margin-left: 15px;
}
@media screen and (max-width: 1300px) {
  .info__image:last-child {
    grid-column-start: 1;
    width: 937px;
  }
}
@media screen and (max-width: 1000px) {
  .info__image:last-child {
    width: 90vw;
    grid-row-start: 3;
    margin: 0;
    height: 247%;
  }
}
@media screen and (max-width: 320px) {
  .info__image:last-child {
    width: 320px;
    margin: 0;
    height: 247%;
  }
}
@media screen and (max-width: 1000px) {
  .info__image {
    width: 90vw;
  }
}
@media screen and (max-width: 320px) {
  .info__image {
    width: 320px;
    height: 85%;
  }
}

.promo {
  background: #000;
  position: relative;
  padding-top: 70px;
  padding-bottom: 137px;
}
.promo:before {
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url("../img/promo/promo-sprite_up.svg") repeat 100% 100%;
}
.promo::after {
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/promo/promo-sprite_down.svg") repeat 100% 100%;
}
@media screen and (max-width: 500px) {
  .promo {
    padding-bottom: 100px;
  }
}

.promo__wrapper {
  padding: 36px;
  display: grid;
  grid-template-columns: repeat(2, 726px);
}
@media screen and (max-width: 450px) {
  .promo__wrapper {
    padding: 36px 12px;
  }
}

.promo__head {
  grid-column-start: 1;
  grid-column-end: 3;
}

.promo__heading {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 1440px) {
  .promo__heading {
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (max-width: 600px) {
  .promo__heading {
    position: relative;
  }
}

.promo__icon {
  display: block;
  width: 132px;
  height: 132px;
  background: url("../img/icons/promo.svg");
}
@media screen and (max-width: 600px) {
  .promo__icon {
    width: 62px;
    height: 62px;
    position: absolute;
    top: -25px;
    left: -24px;
    background: url("../img/icons/promo-min.svg");
  }
}
@media screen and (max-width: 450px) {
  .promo__icon {
    left: 0px;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
}
@media screen and (max-width: 1440px) {
  .promo__content {
    justify-content: space-between;
  }
}

.promo__title {
  font-family: Archangelsk;
  font-weight: 400;
  font-size: 62px;
  line-height: 1.01;
  color: #fff;
  margin-top: 42px;
  margin-left: 32px;
}
@media screen and (max-width: 1440px) {
  .promo__title {
    margin-left: 0;
    max-width: 460px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .promo__title {
    margin-top: 355px;
  }
}
@media screen and (max-width: 600px) {
  .promo__title {
    font-size: 30px;
    margin-top: 183px;
  }
}

.promo__text {
  color: #fff;
  max-width: 952px;
  margin-bottom: 98px;
}
@media screen and (max-width: 1440px) {
  .promo__text {
    max-width: 460px;
    margin-bottom: 62px;
  }
}
@media screen and (max-width: 600px) {
  .promo__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .promo__text {
    max-width: 296px;
    margin-bottom: 33px;
  }
}

.promo__form {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin-top: 21px;
}
@media screen and (max-width: 500px) {
  .promo__form {
    width: 296px;
    font-size: 16px;
  }
}

.promo__string {
  margin-bottom: 35px;
  border-bottom: 1px solid #777;
}
.promo__string input {
  background: transparent;
  width: 100%;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .promo__string input {
    font-size: 16px;
  }
}
.promo__string input::-moz-placeholder {
  font-weight: 300;
  color: #fff;
}
.promo__string input::placeholder {
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .promo__string input::-moz-placeholder {
    font-size: 16px;
  }
  .promo__string input::placeholder {
    font-size: 16px;
  }
}

.promo__file {
  border: 1px dashed #777;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.promo__file input {
  display: none;
}
.promo__file h4, .promo__file p {
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.promo__file h4 {
  text-decoration: underline;
}
.promo__file p {
  font-size: 12px;
}
.promo__file:hover {
  cursor: pointer;
}

.promo__btn {
  display: block;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  background: #F8F200;
  padding: 13px 50px;
  width: 192px;
  transition: all 0.2s;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 15px;
}
.promo__btn:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 550px) {
  .promo__btn {
    font-size: 16px;
  }
}

.promo__agree {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
}

.promo__checkbox {
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.promo__check-default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.promo__check-default:checked + .promo__check-custom {
  background: url("../img/icons/check.svg") 50% 50% no-repeat;
}

.promo__check-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #777;
  cursor: pointer;
}

.promo__decor {
  position: relative;
}
.promo__decor::before {
  content: "";
  width: 788px;
  height: 456px;
  position: absolute;
  top: -50px;
  left: -234px;
  background: url("../img/promo/award.png");
}
@media screen and (max-width: 1440px) {
  .promo__decor::before {
    background: url("../img/promo/award-column.png");
    width: 460px;
    height: 858px;
    top: -451px;
  }
}
@media screen and (max-width: 1000px) {
  .promo__decor::before {
    background: url("../img/promo/award.png") no-repeat;
    background-size: contain;
    width: 80%;
    top: -732px;
    left: -766px;
  }
}
@media screen and (max-width: 600px) {
  .promo__decor::before {
    background: url("../img/promo/award-mob.png");
    width: 296px;
    height: 130px;
    top: -405px;
    left: -751px;
  }
}
@media screen and (max-width: 500px) {
  .promo__decor::before {
    top: -472px;
  }
}
@media screen and (max-width: 450px) {
  .promo__decor::before {
    top: -469px;
    left: -725px;
  }
}

.advert {
  background: #F8F200;
  padding-top: 70px;
  padding-bottom: 80px;
}
@media screen and (max-width: 550px) {
  .advert {
    padding-top: 33px;
  }
}

.advert__inner {
  display: flex;
  padding: 0 36px;
}
@media screen and (max-width: 1000px) {
  .advert__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  .advert__inner {
    padding: 0 12px;
  }
}

.advert__decor {
  max-width: 624px;
  margin-right: 32px;
}
@media screen and (max-width: 1000px) {
  .advert__decor {
    margin: 0 auto 40px;
  }
}

.advert__monitor {
  margin-bottom: 26px;
}
@media screen and (max-width: 1200px) {
  .advert__monitor {
    margin-top: 37px;
  }
  .advert__monitor img {
    max-width: 456px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 550px) {
  .advert__monitor img {
    width: 296px;
    height: 204px;
  }
}
@media screen and (max-width: 1000px) {
  .advert__monitor {
    text-align: center;
  }
}

.advert__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .advert__logos {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .advert__logos {
    flex-direction: row;
  }
}

.advert__hpLogo {
  margin-right: 25px;
}
@media screen and (max-width: 1200px) {
  .advert__hpLogo {
    margin: 0 0 34px 0;
  }
}
@media screen and (max-width: 1000px) {
  .advert__hpLogo {
    margin: 0;
  }
}
@media screen and (max-width: 550px) {
  .advert__hpLogo {
    width: 44px;
    height: 44px;
  }
}

.advert__line {
  display: block;
  width: 91px;
  height: 1px;
  background: #000;
  transform: rotate(12deg);
  position: relative;
}
.advert__line::before {
  content: "";
  width: 91px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-24deg);
}
@media screen and (max-width: 550px) {
  .advert__line::before {
    width: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .advert__line {
    margin: 0 0 34px 0;
  }
}
@media screen and (max-width: 1000px) {
  .advert__line {
    margin: 0 14px 0;
  }
}
@media screen and (max-width: 550px) {
  .advert__line {
    width: 50px;
  }
}

.advert__cpLogo {
  margin-left: 25px;
}
@media screen and (max-width: 1000px) {
  .advert__cpLogo {
    margin: 0;
  }
}
@media screen and (max-width: 550px) {
  .advert__cpLogo {
    width: 175px;
    height: 43px;
  }
}

.advert__title {
  font-family: Archangelsk;
  font-weight: 400;
  font-size: 62px;
  line-height: 1.01;
  color: #000;
  margin-bottom: 25px;
}
@media screen and (max-width: 550px) {
  .advert__title {
    font-size: 30px;
  }
}

.advert__text {
  color: #000;
  margin-bottom: 25px;
}
@media screen and (max-width: 550px) {
  .advert__text {
    font-size: 16px;
    line-height: 2;
  }
}

.advert__benefits {
  margin-bottom: 40px;
  padding-left: 40px;
}
.advert__benefits .advert__benefits-item--paint::before {
  width: 24px;
  height: 24px;
  background: url("../img/icons/hp/paint.svg");
}
@media screen and (max-width: 550px) {
  .advert__benefits .advert__benefits-item--paint::before {
    background-size: cover;
    width: 18px;
    height: 18px;
  }
}
.advert__benefits .advert__benefits-item--stars::before {
  background: url("../img/icons/hp/stars.svg");
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 550px) {
  .advert__benefits .advert__benefits-item--stars::before {
    background-size: cover;
    width: 22px;
    height: 22px;
  }
}
.advert__benefits .advert__benefits-item--gameplay::before {
  background: url("../img/icons/hp/copy.svg");
  width: 28px;
  height: 28px;
}
@media screen and (max-width: 550px) {
  .advert__benefits .advert__benefits-item--gameplay::before {
    background-size: cover;
    width: 20px;
    height: 20px;
  }
}

.advert__benefits-item {
  color: #000;
  position: relative;
  margin-bottom: 20px;
}
.advert__benefits-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
}
.advert__benefits-item:last-child {
  margin: 0;
}
@media screen and (max-width: 550px) {
  .advert__benefits-item {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 18px;
  }
}

.advert__btn {
  display: block;
  color: #F8F200;
  font-weight: 700;
  font-size: 18px;
  background: #000;
  padding: 13px 50px;
  width: 194px;
  transition: all 0.2s;
  text-align: center;
  font-weight: 700;
}
.advert__btn:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 550px) {
  .advert__btn {
    font-size: 16px;
  }
}

.purchase__inner {
  display: flex;
}
@media screen and (max-width: 850px) {
  .purchase__inner {
    flex-direction: column;
  }
}

.purchase__decor {
  background: url("../img/gamebanner.jpg") no-repeat;
  background-size: cover;
  width: 100vh;
}
@media screen and (max-width: 1200px) {
  .purchase__decor {
    width: 38.7vh;
  }
}
@media screen and (max-width: 850px) {
  .purchase__decor {
    height: 23.2vh;
    width: 100%;
  }
}

.purchase__content {
  background: #000;
  width: 50.4%;
  padding: 70px 32px 34px;
}
@media screen and (max-width: 1200px) {
  .purchase__content {
    width: 72.3%;
  }
}
@media screen and (max-width: 850px) {
  .purchase__content {
    height: 84.4vh;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .purchase__content {
    padding: 40px 12px 34px;
    height: 68.5vh;
  }
}

.purchase__title {
  font-family: Archangelsk;
  font-weight: 400;
  font-size: 62px;
  line-height: 1.01;
  color: #fff;
  max-width: 624px;
  margin-bottom: 18px;
}
@media screen and (max-width: 550px) {
  .purchase__title {
    font-size: 30px;
  }
}

.purchase__kit {
  margin-bottom: 58px;
}
@media screen and (max-width: 550px) {
  .purchase__kit {
    margin-bottom: 27px;
  }
}
.purchase__kit .purchase__kit-item--disc::before {
  background: url("../img/icons/game/disk.svg");
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 550px) {
  .purchase__kit .purchase__kit-item--disc::before {
    background-size: cover;
    width: 20px;
    height: 20px;
  }
}
.purchase__kit .purchase__kit-item--code::before {
  background: url("../img/icons/game/code.svg");
  width: 24px;
  height: 24px;
  transform: translateX(4px);
}
@media screen and (max-width: 550px) {
  .purchase__kit .purchase__kit-item--code::before {
    background-size: cover;
    width: 18px;
    height: 18px;
    transform: translateX(1px);
  }
}
.purchase__kit .purchase__kit-item--info::before {
  background: url("../img/icons/game/info.svg");
  width: 28px;
  height: 28px;
}
@media screen and (max-width: 550px) {
  .purchase__kit .purchase__kit-item--info::before {
    background-size: cover;
    width: 20px;
    height: 20px;
  }
}

.purchase__kit-title {
  color: #52bedc;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 6px;
}
@media screen and (max-width: 550px) {
  .purchase__kit-title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.purchase__kit-item {
  color: #fff;
  margin-left: 42px;
  position: relative;
  margin-bottom: 13px;
}
.purchase__kit-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;
}
.purchase__kit-item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 550px) {
  .purchase__kit-item {
    font-size: 16px;
    line-height: 1.18;
  }
}

.purchase__platform-title {
  color: #52bedc;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 17px;
}
@media screen and (max-width: 550px) {
  .purchase__platform-title {
    font-size: 20px;
  }
}

.purchase__platform {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(2, 86px);
}
@media screen and (max-width: 550px) {
  .purchase__platform {
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(2, 79px);
  }
}

.purchase__platform-link {
  transition: all 0.3s;
}
.purchase__platform-link:hover {
  transform: scale(1.1);
}

.footer {
  padding-top: 13px;
}
@media screen and (max-width: 550px) {
  .footer {
    padding-top: 40px;
  }
}

.footer__top {
  padding: 0 36px 13px;
}
@media screen and (max-width: 550px) {
  .footer__top {
    padding: 0 39px 20px;
  }
}

.footer__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .footer__top-wrapper {
    flex-direction: column;
  }
}

.footer__top-logos {
  display: flex;
}
.footer__top-logos img {
  margin-right: 32px;
}
@media screen and (max-width: 550px) {
  .footer__top-logos img {
    margin: 0 0 26px 0;
    width: 200px;
    height: 49px;
  }
}
.footer__top-logos img:last-child {
  margin: 0;
}
@media screen and (max-width: 550px) {
  .footer__top-logos img:last-child {
    width: 116px;
    height: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__top-logos {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 550px) {
  .footer__top-logos {
    flex-direction: column;
    align-items: center;
    margin-bottom: 47px;
  }
}

.footer__top-links {
  display: flex;
  position: relative;
}
@media screen and (max-width: 550px) {
  .footer__top-links {
    flex-direction: column;
    text-align: center;
  }
}
.footer__top-links::before {
  content: "";
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 550px) {
  .footer__top-links::before {
    background: #E6E6E6;
    top: -6.7vw;
    left: -28vw;
    right: -28vw;
    bottom: -5.7vw;
  }
}

.footer__top-link {
  margin-right: 32px;
  color: #000;
  transition: all 0.3s;
}
.footer__top-link:hover {
  color: inherit;
}
.footer__top-link:last-child {
  margin: 0;
}
@media screen and (max-width: 550px) {
  .footer__top-link {
    margin: 0;
    font-size: 16px;
  }
}

.footer__bottom {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
}

.footer__bottom-copyright {
  color: #fff;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */